@model WebsiteDuLichDiaPhuong.Models.HINHANH

@{
    ViewBag.Title = "Chi tiết ảnh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="padding-top: 30px; margin-left: 25px">CHI TIẾT HÌNH ẢNH</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt style="padding-top: 30px; margin-left: 25px; font-weight: bold">
            Tên hình ảnh:
        </dt>

        <dd style="padding-top: 30px; margin-left: 25px">
            <img src="@Url.Content("~/Images/" + Model.TenHinhAnh)" width="160px" alt="HinhAnh" />
        </dd>

        <dt style="padding-top: 30px; margin-left: 25px; font-weight: bold">
            Mô tả hình ảnh:
        </dt>

        <dd style="padding-top: 30px; margin-left: 25px">
            @Html.DisplayFor(model => model.MoTaHinhAnh)
        </dd>

    </dl>
</div>
<p style="padding-top: 30px; margin-left: 25px">
    @Html.ActionLink("Chỉnh sửa", "SuaHinhAnh", new { id = Model.MaHinhAnh }, new { @class = "btn btn-warning" })
    @Html.ActionLink("Quay về", "DanhSachHinhAnh", "HinhAnh", new { @class = "btn btn-danger" })
</p>
