
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<div class="col-sm-12 ">

    <div>
        <h1 style="text-align: center;"><strong>WEB <span style="color: #ff6600;">DU LỊCH</span> ĐÀ NẴNG</strong></h1>
        <p class="main_title" style="text-align: center;">Là đơn vị chuyên tổ chức tour du lịch, team building, du lịch kết hợp team builng hàng đầu tại <b>Đà Nẵng</b>, với các sản phẩm du lịch được thiết kế tỉ mỉ và chọn lọc nhằm hướng đến giá trị đích thực của một kỳ nghỉ với phương châm mỗi hành trình là một trải nghiệm độc đáo</p>

    </div>
</div>

<div class="vc_row wpb_row vc_row-fluid wow fadeIn inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon_set_1_icon-30"></i>
                    <h3><b>+ 7 triệu lượt khách</b></h3>
                    <p style="text-align: justify;">Tổng lượt khách tham quan, du lịch đến Đà Nẵng ước cả năm 2018 là 7.660.000 lượt khách, tăng 15,5% so với năm 2017, đạt 102,5 % kế hoạch. Web Du Lịch Đà Nẵng luôn đồng hành với quý khách khi đến với thành phố Đà Nẵng.</p>
                    <p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon_set_1_icon-41"></i>
                    <h3>+ 40 điểm đến Đà Nẵng</h3>
                    <p style="text-align: justify;">Ngoài những điểm du lịch nổi tiếng của Đà Nẵng như: Cầu Rồng, bán đảo Sơn Trà, Bà Nà Hill, bãi biển Mỹ Khê&#8230; Vẫn còn hơn 30 điểm du lịch nổi tiếng tai Đà Nẵng mà bạn cần chuẩn bị tinh thần trước khi đến du lịch Đà Nẵng nhé</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid wow fadeIn inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon_set_1_icon-57"></i>
                    <h3>Hỗ trợ 24/7</h3>
                    <p style="text-align: justify;">Với đội ngũ nhân viên chuyên nghiệp, trẻ trung, tận tình, WDLDN hỗ trợ tư vấn Free cho bạn 24/7. Nếu bạn đến Đà Nẵng cần sự tư vấn về khách sạn, điểm đến, tour du lịch, ẩm thực Đà Nẵng&#8230;WDLDN sẽ hỗ trợ cho bạn.</p>
                    <p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon_set_1_icon-61"></i>
                    <h3>Hệ thống online</h3>
                    <p style="text-align: justify;">Hiện tai hệ thống đã hỗ trợ cho bạn book tour trực tuyến qua email, điện thoại hoặc website. Chỉ cần đặt chỗ, sẽ được bộ phận tư vấn gọi lại cho bạn! Mọi thông tin vui lòng liên hệ 0934.579.759 hoặc Email: booking@webdulichdanang.com</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid wow fadeIn inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon-suitcase-1"></i>
                    <h3>Thổ địa Đà Thành</h3>
                    <p style="text-align: justify;"><b>Web Du Lịch Đà Nẵng</b> tự hào là thương hiệu của thổ địa. Đội ngũ hướng dẫn viên chính hiệu bản xứ của chúng tôi không chỉ am hiểu tường tận mọi ngóc ngách, danh lam, thắng cảnh tại <a href="https://webdulichdanang.com">Đà Nẵng</a>, <a href="http://webdulichhoian.com">Hội An</a>, <a href="http://dulichhue.biz">Huế</a> và <a href="http://webdulichmientrung.com">Miền Trung</a> mà còn là những người thiết kế đích thực cho từng hành trình khám phá của bạn.</p>
                    <p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon-location-2"></i>
                    <h3>Dịch vụ trực tiếp</h3>
                    <p style="text-align: justify;">Các dịch vụ của <strong>Web Du Lịch Đà Nẵng</strong> đơn giản là dịch vụ trực tiếp, chúng tôi cung cấp cho bạn những cập nhật mới nhất cũng như nhanh chóng truy cập vào các giao dịch tốt nhất, nhanh nhất và hiệu quả nhất tại Miền Trung, Việt Nam.</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row row">
    <div class="col-sm-12 ">
        <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
        </div>
    </div>
</div>
<div class="vc_row wpb_row row">
    <div class="col-sm-12 ">
        <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid margin_top_60 inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div>
                </div>
            </div>
        </div>
    </div>
</div>