
@{
    ViewBag.Title = "Liên hệ";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<div class="col-sm-12 ">

    <div>
        <h1 style="text-align: center;"><strong>WEB <span style="color: #ff6600;">DU LỊCH</span> ĐÀ NẴNG</strong></h1>
        <p class="main_title" style="text-align: center;">Đây là website gần như đầy đủ thông tin du lịch Đà Nẵng</p>

    </div>
</div>

<div class="vc_row wpb_row vc_row-fluid wow fadeIn inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon_set_1_icon-30"></i>
                    <h3><b>+ GẦN 10 LƯỢT TRUY CẬP TRONG HƠN 48 GIỜ QUA</b></h3>
                    <p style="text-align: justify;">Số lượng người tìm kiếm du lịch Đà Nẵng bắt đầu tăng trở lại sau khi giãn cách được gỡ bỏ</p>
                    <p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon_set_1_icon-41"></i>
                    <h3>+ TRÊN 10 ĐỊA ĐIỂM DU LỊCH KHÁC NHAU</h3>
                    <p style="text-align: justify;">Ngoài những điểm du lịch nổi tiếng của Đà Nẵng như: Cầu Rồng, bán đảo Sơn Trà, Bà Nà Hill, bãi biển Mỹ Khê&#8230; Vẫn còn hơn 30 điểm du lịch nổi tiếng tai Đà Nẵng mà bạn cần chuẩn bị tinh thần trước khi đến du lịch Đà Nẵng nhé</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid wow fadeIn inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon_set_1_icon-57"></i>
                    <h3>HỖ TRỢ LIÊN TỤC TRONG GIỜ LÀM VIỆC</h3>
                    <p style="text-align: justify;">Với đội ngũ nhân viên chuyên nghiệp, trẻ trung, tận tình, TEAM ĐỤT hỗ trợ tư vấn Free cho bạn khi trong làm việc. Nếu bạn đến Đà Nẵng cần sự tư vấn về khách sạn, điểm đến, tour du lịch, ẩm thực Đà Nẵng&#8230;TEAM ĐỤT sẽ hỗ trợ cho bạn.</p>
                    <p>
                </div>
            </div>

            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon_set_1_icon-61"></i>
                    <h3>HỆ THỐNG OnLiNe</h3>
                    <p style="text-align: justify;">Hiện tai hệ thống đã hỗ trợ cho bạn book tour trực tuyến qua email, điện thoại hoặc website. Chỉ cần đặt chỗ, sẽ được bộ phận tư vấn gọi lại cho bạn! Mọi thông tin vui lòng liên hệ 0918.590.026 hoặc Email: lethanhsang05102001@gmail.com</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid wow fadeIn inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 ">
                <div class="ct-icon-box style3">
                    <i class="icon-location-2"></i>
                    <h3>DỊCH VỤ GẦN NHƯ LÀ TRỰC TIẾP</h3>
                    <p style="text-align: justify;">Các dịch vụ của <strong>Web Du Lịch Đà Nẵng</strong> đơn giản là dịch vụ gần như là trực tiếp, chúng tôi cung cấp cho bạn những cập nhật mới nhất cũng như nhanh chóng truy cập vào các giao dịch có thể là tốt nhất, nhanh nhất và có thể nói là hiệu quả nhất tại Miền Nam, Việt Nam.</p>
                    <p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="vc_row wpb_row row">
    <div class="col-sm-12 ">
        <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
        </div>
    </div>
</div>
<div class="vc_row wpb_row row">
    <div class="col-sm-12 ">
        <div class="vc_separator wpb_content_element vc_separator_align_center vc_sep_width_100 vc_sep_pos_align_center vc_separator_no_text vc_sep_color_grey">
            <span class="vc_sep_holder vc_sep_holder_l"><span class="vc_sep_line"></span></span><span class="vc_sep_holder vc_sep_holder_r"><span class="vc_sep_line"></span></span>
        </div>
    </div>
</div>
<div class="vc_row wpb_row vc_row-fluid margin_top_60 inner-container">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 ">
                <div>
                </div>
            </div>
        </div>
    </div>
</div>