@model IEnumerable<WebsiteDuLichDiaPhuong.Models.TINTUC>

@{
    var a = "";
    ViewBag.Title = "Tin tức";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<br />
<h2 style="font-family: Arial; text-align: center; "><strong>TIN TỨC</strong></h2>
<div class="container-fluid pt-5">
    <div class="row px-xl-5 pb-3">
        @foreach (var item in Model)
        {
            <div style="padding-right: 60px; margin-top: 30px" class="col-lg-4 col-md-6 pb-1">
                <div class="cat-item d-flex flex-column border mb-4" style="padding: 15px">
                    <p class="text-center"> <strong>@item.TieuDe</strong> </p>
                    <a href="@Url.Action("ChiTietTinTuc", "DuLichDiaPhuong", new {id = item.MaTinTuc})" class="cat-img position-relative overflow-hidden mb-3">
                        <img class="img-fluid" src="~/Images/@item.HINHANH.TenHinhAnh" style="width: 400px; height: 250px" alt="">
                    </a>

                    @if (item.NoiDungTinTuc != null)
                    {
                        if (item.NoiDungTinTuc.Length < 100)
                        {
                            a = item.NoiDungTinTuc.ToString();
                        }
                        else
                        {
                            a = item.NoiDungTinTuc.Substring(0, 200);
                        }
                        <p style="text-align: justify">@a <label>...</label> @Html.ActionLink("Xem thêm", "ChiTietTinTuc", new { id = item.MaTinTuc })</p>
                    }
                    else
                    {
                        @Html.DisplayFor(modelItem => item.NoiDungTinTuc)
                    }
                </div>
            </div>
        }
    </div>
</div>
