@model IEnumerable<WebsiteDuLichDiaPhuong.Models.TINTUC>

@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutNguoiDung.cshtml";
}

<!-- Hiển thị các tin tức nổi bật - Bắt đầu -->
<div class="container-fluid pt-5">
    <div style="margin-left: 48px; margin-right: 48px; background-color: pink" class="cat-item d-flex flex-column border text-center mb-4">
        <h2 style="text-align: center; color: black; font-size: 26px; font-weight: bold; padding-top: 20px; margin-left: 60px"> MỘT SỐ TIN TỨC NỔI BẬT</h2>
    </div>
    @{ Html.RenderAction("MainMenu", "DuLichDiaPhuong"); }
</div>
<!-- Hiển thị các tin tức nổi bật - Kết thúc -->
<!-- Hiển thị một số sự kiện nổi bật - Bắt đầu -->
<div class="container-fluid pt-5">
    <div style="margin-left: 48px; margin-right: 48px; background-color: orchid" class="cat-item d-flex flex-column border text-center mb-4">
        <h2 style="text-align: center; color: white; font-size: 26px; font-weight: bold; padding-top: 20px; margin-left: 60px"> MỘT SỐ SỰ KIỆN NỔI BẬT</h2>
    </div>
    @{ Html.RenderAction("BottomMenu", "DuLichDiaPhuong"); }
</div>
<!-- Hiển thị một số sự kiện nổi bật - Kết thúc -->

<!-- Vendor Start -->
<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="vendor-item border p-4">
                    <img src="img/vendor-1.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-2.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-3.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-4.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-5.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-6.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-7.jpg" alt="">
                </div>
                <div class="vendor-item border p-4">
                    <img src="img/vendor-8.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Vendor End -->
